@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root{
    --Gray: hsl(0, 0%, 75%);
    --Dark-grey: hsl(257, 7%, 63%);
    --Very-Dark-Blue: hsl(255, 11%, 22%);
    --Very-Dark-Violet: hsl(260, 8%, 14%);
    --Cyan: hsl(180, 66%, 49%);
    --Dark-Violet: hsl(257, 27%, 26%);
    --Red: hsl(0, 87%, 67%);

}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    font-size: 0.875rem;
    
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;

}
h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    color: var(--Dark-Violet);
}
h1 {
    font-size: 1.5rem;
    color: var(--main-blue);
}
h2 {
    font-size: 1rem;
    color: var(--main-blue);
}
h3 {
    font-size: 1.25rem;
    color: var(--main-blue);
}
h4 {
    font-size: 1rem;
    color: var(--main-blue);
}
p {
    margin-bottom: 1.25rem;
    color: var(--Grayish-Blue);
}
@media screen and (min-width: 800px) {
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1.2rem;
    }
    body {
        font-size: 1.25rem;
    }
    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
        color: var(--main-blue);
    }
}
.btn{
    background-color: var(--Cyan);
    color: white;
    padding: 0.5rem 1rem ;
    border-radius: 1.5rem;
    font-size: 0.9rem;
    text-transform: capitalize;
    cursor: pointer;
}